<div *ngFor="let sanpham of sanphamsdangxuly">
    <div style="display: flex; background-color: #809ffc; margin-top: 15px; color: white;   padding: 12px 15px; border-radius: 10px;"> <a routerLink="/pages/tables/smart-table-don-hang-cu-detail" [queryParams]={id:[sanpham.madonhang]} style="text-decoration: none !important; color:white"><b style="margin-right: 10px;">+</b>  Mã Đơn Hàng: <b style="margin-right: 15px;">{{sanpham.madonhang}}</b>    -    Khách Hàng: <b style="margin-right: 15px;">{{sanpham.tenkhachhang}}</b>    -    Ngày Tháng: <b style="margin-right: 15px;">{{sanpham.ngaythang.substring(0,10)}} </b></a></div> 


</div>
