<nb-card>
  <nb-card-header>
    Quản Lý Máy
  </nb-card-header>

  <nb-card-body>
    <br />
    <div style="display: flex;">
      <a href="../../../../assets/data/SanPham.xlsx" style="margin-right: 40px;"><b>Tải danh sách sản phẩm mẫu xuống</b></a>
      <input type="file" id="file" (change)="uploadExcel($event)">
      <button (click)="taosanpham()" style="margin-left: 10px; height: 36px;width: 150px;border-radius: 5px;border-color: #2e61fa;color: white;background-color: #809ffc;font-weight: 300;">Thêm Sản Phẩm</button>

    </div>
    <br />
    <ng2-smart-table [settings]="settings" [source]="source" (createConfirm)="onCreateConfirm($event)"
      (deleteConfirm)="onDeleteConfirm($event)" (editConfirm)="onSaveConfirm($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>