:host {
  ::ng-deep .masanpham .ng2-smart-title {
    width: 100px;
  }
  ::ng-deep .loaimay .ng2-smart-title {
      width: 100px;
    }
  ::ng-deep .doimay .ng2-smart-title {
      width: 80px;
    }
  ::ng-deep .manhinh .ng2-smart-title {
      width: 80px;
    }
  ::ng-deep .chip .ng2-smart-title {
      width: 80px;
    }
  ::ng-deep .tanso .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .ram .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .ocung .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .imei .ng2-smart-title {
      width: 150px;
    }
    ::ng-deep .chitiet .ng2-smart-title {
      width: 200px;
    }
    ::ng-deep .giacap1 .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .giacap2 .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .khachle .ng2-smart-title {
      width: 80px;
    }
    ::ng-deep .mausac .ng2-smart-title {
      width: 80px;
    }
}