:host {
    ::ng-deep .masanpham .ng2-smart-title {
      width: 100px;
    }
    ::ng-deep .loaimay .ng2-smart-title {
        width: 100px;
      }
    ::ng-deep .doimay .ng2-smart-title {
        width: 80px;
      }
    ::ng-deep .manhinh .ng2-smart-title {
        width: 80px;
      }
    ::ng-deep .chip .ng2-smart-title {
        width: 80px;
      }
    ::ng-deep .tanso .ng2-smart-title {
        width: 80px;
      }
      ::ng-deep .ram .ng2-smart-title {
        width: 80px;
      }
      ::ng-deep .ocung .ng2-smart-title {
        width: 80px;
      }
      ::ng-deep .imei .ng2-smart-title {
        width: 150px;
      }
      ::ng-deep .chitiet .ng2-smart-title {
        width: 200px;
      }
      ::ng-deep .giacap1 .ng2-smart-title {
        width: 80px;
      }
      ::ng-deep .giacap2 .ng2-smart-title {
        width: 80px;
      }
      ::ng-deep .khachle .ng2-smart-title {
        width: 80px;
      }
  }

  @import url(https://fonts.googleapis.com/css?family=Raleway:400);
.snip1457 {
  font-family: 'Raleway', Arial, sans-serif;
  border: none;
  background-color: #809ffc;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  padding: 0px 20px;
  display: inline-block;
  margin: 15px 10px;
  text-transform: uppercase;
  line-height: 38px;
  font-weight: 300;
  font-size: 1em;
  outline: none;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  border-radius: 23px;
  letter-spacing: 2px;
  -webkit-transform: translateZ(0);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.snip1457:before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border-radius: inherit;
  background-color: #ffffff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.snip1457:after {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  border: 5px solid #809ffc;
  content: '';
  border-radius: inherit;
}
.snip1457:hover,
.snip1457.hover {
  background-color: #809ffc;
  color: #ffffff;
}
.snip1457:hover:before,
.snip1457.hover:before {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 0.25;
}


.snip1475 {
    font-family: 'Raleway', Arial, sans-serif;
    border: none;
    background-color: #f85a33;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    padding: 0px 20px;
    display: inline-block;
    margin: 15px 10px;
    text-transform: uppercase;
    line-height: 38px;
    font-weight: 300;
    font-size: 1em;
    outline: none;
    position: relative;
    overflow: hidden;
    font-size: 14px;
    border-radius: 23px;
    letter-spacing: 2px;
    -webkit-transform: translateZ(0);
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  .snip1475:before {
    opacity: 0;
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: inherit;
    background-color: #ffffff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  .snip1475:after {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: 5px solid #f85a33;
    content: '';
    border-radius: inherit;
  }
  .snip1475:hover,
  .snip1475.hover {
    background-color: #f85a33;
    color: #ffffff;
  }
  .snip1475:hover:before,
  .snip1475.hover:before {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 0.25;
  }