<div *ngFor="let sanpham of sanphamsdangxuly">
    <div style="display: flex; background-color: #809ffc; margin-top: 15px; color: white;   padding: 12px 15px; border-radius: 10px;"> <a routerLink="/pages/tables/smart-table-detail" [queryParams]={id:[sanpham.madonhang]} style="text-decoration: none !important; color:white"><b style="margin-right: 10px;">+</b>  Mã Đơn Hàng: <b style="margin-right: 15px;">{{sanpham.madonhang}}</b>    -    Khách Hàng: <b style="margin-right: 15px;">{{sanpham.tenkhachhang}}</b>    -    Ngày Tháng: <b style="margin-right: 15px;">{{sanpham.ngaythang.substring(0,10)}} </b></a></div> 

    <!-- <table class="styled-table" *ngIf="show">
        <thead>
            <tr>
                <th>Mã Sản Phẩm</th>
                <th>Loại Máy</th>
                <th>Đời Máy</th>
                <th>Màn Hình</th>
                <th>Chip</th>
                <th>Tần Số</th>
                <th>Ram</th>
                <th>Ổ Cứng</th>
                <th>Nhóm</th>
                <th>Giá</th>
                <th>Chi Tiết</th>
                <th>Khách Hàng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    
            <tr *ngFor="let sanpham of chitietdonhang">
                <td>{{sanpham.masanpham}}</td>
                <td>{{sanpham.loaimay}}</td>
                <td>{{sanpham.doimay}}</td>
                <td>{{sanpham.manhinh}}</td>
                <td>{{sanpham.chip}}</td>
                <td>{{sanpham.tanso}}</td>
                <td>{{sanpham.ram}}</td>
                <td>{{sanpham.ocung}}</td>
                <td>{{sanpham.nhom}}</td>
                <td>{{sanpham.gia}}</td>
                <td>{{sanpham.chitiet}}</td>
                <td>{{sanpham.tenkhachhang}}</td>
                <td><i class="fa fa-remove" style="font-size:18px;color:tomato;" (click)="click(sanpham)"></i></td>
            </tr>
    
         
        </tbody>
    </table> -->
</div>
